# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log

# Docker
.env
.env.local

# Node.js
node_modules/
npm-debug.log
build/
dist/

# Maven / Java
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
infra-ids.txt
